.footerIcon{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px;
}
.link{
  color: black;
  
}
.footer{
  background-color: rgba(133,133,133,0.202);
  height: 150px;
  text-align: center;
}
.rights{
  color: gray;
  font-size: 12px;
}
.description{
  color: gray;
  font-size: 16px;
  margin-top: 20px;
}